@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

$light: white;
$dark: white;
$bot-text: #7028e4;
$user-text: #0091d2;
$red: #ff7871;
$red-dark: #db0035;
$shadow: rgba(#f43b47,0.4);
$stroke: 4px;
$br: 12px;
$dot-size: 9px;

$inner-margin: 15px;

$avatar-size: 52px;

$avatar-url: "https://zephyo.github.io/22Days/code/10/graphics/cutebearicon.gif";
$bg-url: "https://zephyo.github.io/22Days/code/10/graphics/manu-franco-unsplash.jpg";
$header-url: "https://zephyo.github.io/22Days/code/10/graphics/rikkakuma.gif";

$snap: cubic-bezier(0.36, -0.04, 0.15, 1.64);

$highlight1: rgba(255, 255, 255, 0.2);
$highlight: rgba(255, 255, 255, 0.5);

h1 {
  font-size: 7vh;
}

h2 {
  font-size: 4.5vh;
}


.back,
#main-div {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.back {
  font-family: "Inconsolata", monospace;
 // background: linear-gradient(-20deg, #0091d2 0%, #faaca8 100%, #faaca8 100%);
 background-image: url('../chat1.jpg');
background-size: cover;
  color: $light;
  background-attachment: fixed;
}

#main-div,
.back,
.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 5vw 10vw 5vw 10vw;
  .header {
    animation: fade 1s ease 1.5s both;
    z-index: 20;
    text-align: right;
    flex: 1 0 20vw;
    margin: 0 5vw 5vw 0;
    margin-top: auto;
    text-shadow: 
      1px 2px 0px $shadow, 
		3px 2px 0px $shadow, 
		2px 3px 0px $shadow;
    position: relative;
    .header-img {
      position: absolute;
      top: -10rem;
      right: 10vw;
      z-index: -1;
      width: 12rem;
      height: 12rem;
      background: url($header-url) no-repeat;
      background-size: contain;
    }
  }
  .chat-container {
    animation: fade 0.5s ease 0.2s both;
    transform: perspective(100vh) rotateY(-7deg);
    border-radius: $br; 
    box-shadow: 10px 5px 40px 10px $shadow;
    flex: 1 1 70vh;
    display: flex;
    flex-direction: column;
   height: 550px;
    .chat-header {
      border: $stroke solid $dark;
      border-bottom: 0;
      border-radius: $br $br 0 0;
      flex: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: $dot-size / 2;
      background: $highlight;
      .dot {
        margin: $dot-size $dot-size*1.5 $dot-size 0;
        width: $dot-size;
        height: $dot-size;
        background: $red;
        border-radius: 50%;
        box-shadow: 3px 3px $red-dark;
        &:nth-child(1){
          animation: grow 0.3s $snap 0.3s both;
        }
        &:nth-child(2){
          animation: grow 0.3s $snap 0.5s both;
        }
        &:nth-child(3){
          animation: grow 0.3s $snap 0.7s both;
        }
      }
    }

    .msg-container {
      background: $highlight1;
      padding: $inner-margin $inner-margin 0 $inner-margin;
      flex: auto;
      border: $stroke solid $dark;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      .user-message-container {
        align-self: flex-end;
        width: 500px;
      }
      .bot-message-container {
        flex: none;
        display: flex;
        .bot-avatar {
          background-image: url($avatar-url);
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          width: $avatar-size;
          height: $avatar-size;
          margin-right: 1vw;
        }
        &:first-child {
          .chat-bubble {
            animation: pop 0.3s $snap 0.9s both;
          }
        }
      }
      .chat-bubble {
        display: inline-block;
        border-radius: $br;
        padding: 1rem;
        margin-bottom: $inner-margin;
        max-width: 60%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        opacity: 0;
        animation: pop 0.3s $snap forwards;
        will-change: transform;
        &.user {
          float: right;
          border-top-right-radius: 0;
          background: $dark;
          color: $user-text;
          transform-origin: top right;
        }
        &.bot {
          border-top-left-radius: 0;
          background: $light;
          color: $bot-text;
          transform-origin: top left;
        }
      }
    }

    .input-container {
      animation: up 0.35s $snap 0.5s both;
      border: $stroke solid $dark;
      border-top: 0;
      border-radius: 0 0 $br $br;
      z-index: 30;
      flex: none;
      height: 14vh;
      max-height: 100px;
      background: $highlight;
      display: flex;
      justify-content: stretch;
      transition: background 0.3s ease;
      input {
        font-weight: 700;
        flex: auto;
        background: transparent;
        border: none;
        font-family: "Inconsolata";
        color: $light;
        font-size: 1rem;
        padding: 1.5rem;
      }
      *::placeholder {
        color: $red-dark;
      }
      .input-submit {
        margin: 2vh;
        background: $red;
        border: none;
        border-radius: 5px;
        box-shadow: 4px 4px $red-dark;
        width: 10vh;
        position: relative;
        &:after {
          content: "";
          width: 0.5rem;
          height: 0.5rem;
          border: 5px solid $light;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg);
          position: absolute;
          top: calc(50% - 0.5rem);
          left: calc(50% - 0.5rem);
        }
      }
    }
  }
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url($bg-url) no-repeat 0 0;
  filter: blur(5vh);
  background-size: cover;
  background-position: center;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.66);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
	from
  {		
    transform: scale(0);
  }
	to
	{	
    transform: none;
  }
}

@keyframes up {
	from
  {		
    opacity: 0;
		transform: translateY(1rem);
  }
	to
	{	
    opacity: 1;
		transform: none;
  }
}


@media only screen and (max-width: 600px) {
.app-container .chat-container {
  animation: fade 0.5s ease 0.2s both;
  /* transform: perspective(100vh) rotateY(-7deg); */
  border-radius: 12px;
  box-shadow: 10px 5px 40px 10px rgba(244, 59, 71, 0.4);
  flex: 1 1 70vh;
  width: 100%;
  display: flex;
  margin-top: -3px;
  flex-direction: column;
  height: 100%;

}




}



$pink: #FF65C3;
$orange: #FCBD78;
$faded-white: #FAFAFC;
$dark-grey: #E5E5E7;
$yellow: #EFB05A;

$sidebar-width: 300px;

main {
  display: flex;
  background: $faded-white;
  width: 100%;
  height: 100%;
  position: relative;
}

.sidebar {
  width: $sidebar-width;
  background-image: linear-gradient(
    $orange,
    $pink
  );
  background-size: 200%;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-230px);
  transition: 300ms ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  
  &--expanded {
    background-size: 100%;
    background-position: 0 0;
    transform: translateX(0);
  }
  
  &:hover {
    background-position: 0 0;
  }
}

.sidebar__toggle {
  width: 100%;
  height: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.8rem;
  padding-bottom: 0;
  transition: 300ms ease;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3% 4rem;
  margin-left: 4.5rem;
  transition: 300ms ease-in-out;
  position: relative;
  z-index: 2;
  
  &--expanded {
    margin-left: 310px;
  }
}

.main-content header {
  height: 5rem;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 2rem;
}

.main-content header span {
  width: 16rem;
  height: 2rem;
  background: $dark-grey;
}

.main-content header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-content header ul li {
  width: 6rem;
  height: 2rem;
  margin: 0 1rem;
  background: $dark-grey;
  
  &:last-child {
    margin-right: 0;
  }
}

.main-content .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main-content .module--full {
  width: 100%;
  height: 400px;
  box-shadow: 0 3px 8px rgba(lightgray, 0.1), 0 6px 7px rgba(lightgray, 0.1);
  background: white;
}

.main-content .module-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.main-content .module--half {
  flex: 1;
  height: 400px;
  box-shadow: 0 3px 8px rgba(lightgray, 0.1), 0 6px 7px rgba(lightgray, 0.1);
  background: white;
  
  &:first-child {
    margin-right: 1rem;
  }
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  background: linear-gradient(#FF7DD5 80%, transparent);
  height: 370px;
  border-radius: 100%;
  margin-left: -100px;
  margin-top: -20px;
  z-index: -1;
  opacity: 0;
  transform: scale(.4) translateY(-400px) translateX(300px);
  margin-left: 0;
  margin-top: 0;
  transition: 400ms ease;
  
  &:nth-child(2) {
    background: linear-gradient($orange 80%, transparent);
    margin-top: 70px;
    margin-left: 50px;
    transform: scale(.4) translateY(-400px);
    margin-top: 0;
  }
  
  .sidebar--expanded & {
    animation: float 6s infinite alternate;
    margin-left: -100px;
    margin-top: -20px;
    opacity: .4;
    transform: scale(1) translateY(0);
    
    &:nth-child(2) {
    animation: float 20s infinite alternate;
      transform: scale(1) translateY(100px) translateX(170px);
    }
  }
}

@keyframes float {
  20% {
    top: 0;
    left: -100px;
  }
  50% {
    left: 0;
  }
  100% {
    top: 500px;
    left: -100px;
  }
}





.pf-btn{
  width: 100px;
  height: 60px;
  background-color: white;
}

$red: #DD0031;
$blue-background: #4FB5FB;
$blue-sidebar: #199FFA;
$blue-shadow: #4898CE;
$white: #FFFFFF;


.center {
  position: absolute;
  left: 15% !important;
  top: 15% !important;
  
}

.square-main {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 50%;
  top: 50%;
  background: $white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 3px 0px $blue-shadow;
}

.square-header {
  height: 100px;
  width: 300px;
  background: $red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-notification {
  color: $white;
  font-size: 24px;
}

.clickable {
  cursor: pointer;
}

.square-left {
  width: 130px;
  height: 225px;
  background: $blue-sidebar;
  position: absolute;
  left: -11px;
  top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 4px 0px $blue-shadow;
}

.sidebar-element {
  color: $white;
  cursor: pointer;
}

.active {
  animation: 0.4s reveal-sidebar ease-out forwards;
  
}

.hide {
    animation: 0.4s hide-sidebar ease-in forwards;
}

@keyframes hide-sidebar {
  0% {
    transform: translate3d(-150px, 0, 0);
    5% {
      transform: translate3d(-170px, 0, 0);
    }
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes reveal-sidebar {
  0% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(-160px, 0, 0);
  }
  98.5% {
    transform: translate3d(-140px, 0, 0);
  }
  100% {
    transform: translate3d(-150px, 0, 0);
  }

}

.content-spacing {
  height: 50px;
  margin: 15px;
  margin-left: 50px;
  color: #BEBEBE;
}

.line {
  background: #DDD;
  position: absolute;
  left: 27px;
  height: 100%;
  width: 5px;
  border-radius: 10px 10px 10px 10px;
  top: 0;
  z-index: -2
}

.circle {
  height: 6px;
  width: 6px;
  border: 3px solid red;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  margin: 3px;
  background: $white;
}

.hide{
animation: 0.4s hide-sidebar ease-in forwards !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: transparent;

    .sidebar-element {
      color: transparent !important;
      cursor: pointer;
  }
}



.card-container {
  
    cursor: pointer;
    height: 516px;
    perspective: 600;
    position: relative;
    width: 300px;
    border: none ;
    border-radius: 35px ;
    box-shadow: inset #0b0b0b 1px 1px 35px;
    
 
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  border: none ;
  border-radius: 35px;
  box-shadow: inset #0b0b0b 1px 1px 35px;
 
  
}
.card:hover {
  transform: rotateY(180deg);
  border: none ;
}
 .side {
  background-image: url('../chat1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid gray !important;
  backface-visibility: hidden;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 42% !important;
  position: absolute;
  overflow: hidden;
  border: none ;
  box-shadow: inset #0b0b0b 1px 1px 35px;
  width: 100%;
}
 .back-avt {
  border: none ;
  width: 100%;
  height: 100%;
  background-image: url('../b12d9f259a178fc9dc7bfb6447be7a1c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 object-fit: fill;
 background-position: right;
  border-radius: 35px;
  transform: rotateY(180deg);
  box-shadow: inset #0b0b0b 1px 1px 35px;

  
}




.pf-txt{
  width: 100%;
  height: 241px;
  border-bottom-left-radius: 35px;
  margin-top: 275px;
  position: absolute;
  color: black;
  border-bottom-right-radius: 35px;

}

.name-txt{
  margin-left: 100px;
  line-height: 2rem;
}

.edt{
  position: absolute;
  margin-top: -110px;
  width: 100%;
  height: 50px;
  
  background-color: black;
  opacity: 0.60;
}
.cls{
  position: absolute;
  margin-top: -50px;
  width: 100%;
  height: 50px;
 color:red;
  background-color: black;
  opacity: 0.60;

  &:hover {
    color:orange;
  }
}

.edit-btn{
  margin-left: -13px;
  color:red;  
  margin-top: 12px;
  position: absolute;
   
  &:hover {
    color:orange;
  }
}
.close-btn{
  margin-left: -13px !important;
  

}


